<!-- ============================================================================== -->
<!-- Loader 																																				-->
<!-- ============================================================================== -->
<div *ngIf="loading" class="loader-contenedor">
	<h3> <i class="fa fa-refresh fa-2x fa-spin"></i> </h3>
	<p> Buscando libros... </p>
</div>
<!-- ============================================================================== -->
<!-- End loader 																																		-->
<!-- ============================================================================== -->

<!-- ============================================================================== -->
<!-- Card book 																																			-->
<!-- ============================================================================== -->
<div class="container-fluid">
	<div class="row">
			<div *ngIf="!loading" class="card-columns">
				<div class="card" style="max-width:18rem;" *ngFor="let book of books; let index = index;">
					<!-- CARROUSEL BOOK IMAGES -->
					<div id="carouselExampleFade-{{index}}" class="carousel slide carousel-fade" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item" *ngFor="let img of book.images; let i=index;" [ngClass]="{'active': i===0}" >
							 <img class="d-block img-carousel" [src]="img">
							</div>
						</div> 
						<a class="carousel-control-prev" href="#carouselExampleFade-{{index}}" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleFade-{{index}}" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
						</a>
					 </div>
					<!-- END CARROUSEL BOOK IMAGES -->
			
					<!-- TEXT CARD -->
					<div class="card-body">
						<h5 class="card-title">Título: {{ book.title | titlecase }}</h5>
						<p class="card-text">Autor/a: {{ book.author | titlecase }}</p>
						<p class="card-text">Editorial: {{ book.editorial | titlecase }}</p>
						<p class="card-text">Fecha publicación: {{ book.date }}</p>
						<p class="card-text" *ngIf="book.transaction == 'Ambos' || book.transaction == 'Venta'">Price: ${{ book.price | thousands }}</p>
						<p class="card-text">Dueño: {{book.user.name | titlecase }} {{book.user.last_name1 | titlecase }} {{book.user.last_name2 | titlecase }}</p>
						<button *ngIf="book.uid === actual_user.uid" class="btn btn-outline-info col-md-12" data-toggle="modal" 
								data-target="#showBook" type="button" (click)="book_modal=book">Ver libro</button>
						<button *ngIf="book.uid !== actual_user.uid" class="btn btn-outline-info col-md-6" data-toggle="modal" 
								data-target="#showBook" type="button" (click)="book_modal=book">Ver libro</button>
						<button *ngIf="book.uid !== actual_user.uid" 
								class="btn btn-outline-info col-md-6" data-toggle="modal" 
								data-target="#contactOwner" type="button" (click)="book_modal=book">Contactar</button>
					</div>
					<!-- END TEXT CARD -->
				</div>
			</div>
	</div>
</div>

<!-- ============================================================================================================== -->
<!-- Modal show book																																																-->
<!-- ============================================================================================================== -->
<div 	class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="showBook"	aria-labelledby="myLargeModalLabel"
			aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel"> {{ book_modal.title | titlecase }}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<app-one-book [book]="book_modal"></app-one-book>
			</div>
			<!-- ====================================================================== -->
			<!-- Profile collapse																												-->
			<!-- ====================================================================== -->
			<div id="accordion">
				<div class="card">
				  	<div class="card-header" id="headingOne">
						<h5 class="mb-0">
					  	<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Ver perfil del dueño
					  	</button>
						</h5>
					</div>
					<div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							<!-- ====================================================================== -->
							<!-- Show profile																														-->
							<!-- ====================================================================== -->
							<div class="col-12">
								<div class="card">
									<div class="card-body row">
										<div class="col-md-6" align="center">
											<img src="../assets/images/profile.jpg" class="img-circle" width="150" />
											<h4 class="card-title">
												{{ book_modal.user.name | titlecase }} {{ book_modal.user.last_name1 | titlecase }} {{ book_modal.user.last_name2 | titlecase }} </h4>
											<h6 class="card-subtitle">Accoubts Manager Amix corp</h6>
											<div class="row text-center justify-content-md-center">
												<div class="col-4">
													<a href="javascript:void(0)" class="link">
														<i class="fa fa-book"></i>
														<font class="font-medium"> {{ count_book }}</font>
													</a>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<small class="text-muted">Correo electrónico</small>
											<h6> {{ book_modal.user.email }} </h6>
											<small class="text-muted p-t-30 db">Teléfono de contacto</small>
											<h6> {{ book_modal.user.phone }} </h6>
										</div>
									</div>
									<!-- TODO: Revisar que esté aparezcan todas las cat. Copiar en modal de cardbook -->
									<div class="card-body">
										<small class="text-muted">Categorías favoritas:</small>
										<ul>
											<li>
												<h6>{{ book_modal.user.categories }}</h6>
											</li>
										</ul>
									</div>
									<div class="card-body">
										<div class="dropdown-divider"></div>
										<small class="text-muted p-t-30 db">Redes sociales</small><br/>
										<button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
										<button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
										<button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
									</div>
								</div>
							</div>
							<!-- ====================================================================== -->
							<!-- End show profile																												-->
							<!-- ====================================================================== -->
						</div>
					</div>
				</div>
			</div>
			<!-- ====================================================================== -->
			<!-- End profile collapse																										-->
			<!-- ====================================================================== -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- ====================================================================== -->
<!-- End modal show book																										-->
<!-- ====================================================================== -->


<!-- ====================================================================== -->
<!-- Modal contact owner																										-->
<!-- ====================================================================== -->
<div 	class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="contactOwner"
			aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel"> Contactar dueño/a </h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<form [formGroup]="form" (ngSubmit)="sendMessage()">
				<div class="modal-body">
					<!-- Transaction -- Ambos -->
					<div *ngIf="book_modal.transaction == 'Ambos'" >
						<label>Elija el tipo de transacción que desea</label>
						<select class="form-control" formControlName="transaction">
							<option value="exchange">Deseo intercambiar el libro</option>
							<option value="sale">Deseo comprar el libro</option>
						</select>
					</div><br>

					<!-- Preferences -->
					<!-- FIXME: Esto tiene que ser una tabla u otra cosa, no un select -->
					<!-- https://www.lawebdelprogramador.com/foros/JavaScript/1495600-seleccionar-una-o-varias-filas-de-una-tabla-y-marcar-o-desmarcar-el-check-de-la-fila-correspondiente.html -->
					<label>Seleccione la preferencia que más le acomode</label>
					<select class="form-control" formControlName="pref">
						<option value="{{ p.subway_station }}-{{ p.day }}-{{ p.hour }}" *ngFor="let p of book_modal.user.preferences">{{ p.subway_station }} - {{ p.day }} - {{ p.hour  }}</option>
						<option value="dislike_preferences">Ninguna me acomoda</option>
					</select><br>
					<!-- <div class="table-responsive">
						<table class="table color-table info-table">
							<thead>
								<tr>
									<th>Selección</th>
									<th>Estación de metro</th>
									<th>Día</th>
									<th>Horario</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let p of book_modal.user.preferences">
									<td class="controls">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input"> 
											<span class="custom-control-indicator"></span>  
										</label>
									</td>
									<td> {{ p.subway_station }} </td>
									<td> {{ p.day }} </td>
									<td> {{ p.hour }} </td>
								</tr>
							</tbody>
						</table>
					</div> -->
					<br>
					
					<!-- Custom preferences -->
					<div *ngIf="form.value.pref === 'dislike_preferences'">
						<label>Seleccione el horario que desea proponer</label>
						<div class="row">
							<!-- Station -->
							<div class="form-group col-4">
								<label>Estación de metro</label>
								<!-- TODO: Arreglar esa huea rancia fjdksljfklsdjglksjgks -->
								<select formControlName="station" id="subway_station" class="form-control">
									<optgroup label="Línea 1">
										<option value="República">República</option>
										<option value="Los Héroes">Los Héroes</option>
										<option value="La Moneda">La Moneda</option>
										<option value="Universidad de Chile">Universidad de Chile</option>
										<option value="Santa Lucía">Santa Lucía</option>
										<option value="Universidad Católica">Universidad Católica</option>
										<option value="Baquedano">Baquedano</option>
										<option value="Salvador">Salvador</option>
										<option value="Manuel Montt">Manuel Montt</option>
										<option value="Pedro de Valdivia">Pedro de Valdivia</option>
										<option value="Los Leones">Los Leones</option>
										<option value="Tobalaba">Tobalaba</option>
									</optgroup>
									<optgroup label="Línea 5">
										<option value="Quinta Normal">Quinta Normal</option>
										<option value="Cumming">Cumming</option>
										<option value="Santa Ana">Santa Ana</option>
										<option value="Plaza de Armas">Plaza de Armas</option>
										<option value="Bellas Artes">Bellas Artes</option>
										<option value="Baquedano">Baquedano</option>
										<option value="Parque Bustamante">Parque Bustamante</option>
										<option value="Santa Isabel">Santa Isabel</option>
									</optgroup>
								</select>
							</div>
							<!-- Day -->
							<div class="form-group col-md-4">
									<label>Tipo de elemento</label>
									<select formControlName="day" id="day" class="form-control">
										<option value="Lunes">Lunes</option>
										<option value="Martes">Martes</option>
										<option value="Miércoles">Miércoles</option>
										<option value="Jueves">Jueves</option>
										<option value="Viernes">Viernes</option>
										<option value="Sábado">Sábado</option>
										<option value="Domingo">Domingo</option>
									</select>
							</div>
							<!-- Hour -->
							<div class="form-group col-md-4">
								<label>Hora</label>
								<input formControlName="hour" class="form-control" type="time" value="12:00" id="hour">
							</div>
						</div>
					</div>

					<!-- Message -->
					<div >
						<label>Seleccione el mensaje a enviar</label>
						<select class="form-control" formControlName="text">
							<option value="Deseo establecer la transacción">Deseo establecer la transacción</option>
							<option *ngIf="book_modal.transaction == 'Venta' || form.value.transaction == 'sale'" 
								value="dislike-price">No me acomoda el precio</option>
							<option value="new_text">Deseo escribirle un mensajes personalmente</option>
						</select>
					</div><br>
					
					<!-- Custom price -->
					<div *ngIf="form.value.text == 'dislike-price'">
						<label>Ingrese el precio que desea proponer</label>
						<input 	type="text" formControlName="new_price" 
							class="form-control form-control-line border-input-custom" placeholder="Ej.: 2000">
					</div>

					<!-- Custom message -->
					<div *ngIf="form.value.text == 'new_text'">
						<label>Mensaje</label>
						<input 	type="text" formControlName="new_text" 
							class="form-control form-control-line border-input-custom" placeholder="">
					</div>
				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-outline-info waves-effect text-left">Enviar</button>
					<button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- ====================================================================== -->
<!-- End modal contact owner																								-->
<!-- ====================================================================== -->
