
<div id="main-wrapper">
	<app-header (search)="searchBook($event)"></app-header>
	<app-sidebar></app-sidebar>

	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->
	<div class="page-wrapper">
		<!-- ============================================================== -->
		<!-- Container fluid  -->
		<!-- ============================================================== -->
		<div class="container-fluid">

			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<router-outlet></router-outlet>
			<!-- ============================================================== -->
			<!-- End Page Content -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- END Container fluid  -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- END Page wrapper  -->
	<!-- ============================================================== -->
</div>















<!-- Barra de opción de vistas -->
<!-- <div class="container">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<div class="btn-group btn-group-toggle">
				<label class="btn btn-secondary active">
						<a href="#" class="">Todos</a>
					</label>
					<label class="btn btn-secondary">
						<a href="#" class="">Intercambio</a>
					</label>
				<label class="btn btn-secondary">
						<a href="#" class="">Ventas</a>
				</label>
				<label class="btn btn-secondary">
						<a href="#" class="">Ambos</a>
				</label>
			</div>
		</div>
		<div class="col-4"></div>
	</div>
</div>
 -->


<!-- <app-card-book></app-card-book> -->

<!-- <app-add-book></app-add-book> -->


<!-- [heroe] es el nombre de la propiedad y "heroe" es el nombre de la variable local -->
<!-- <app-books-card [book]="heroe" [index]="i" *ngFor="let book of books; let i = index"></app-books-card> -->


