
<div class="container">
  <h2 class="mt-3"> Novedades </h2>
  <div class="row mt-5">
    <div class="col-3">
      <ul *ngIf="!loader" class="list-group shadow-box">
        <li *ngFor="let message of messages" 
            class="list-group-item"
            style="cursor: pointer"
            [ngClass]="{'active': selected !== undefined && selected.day === message.day }"> 
          <a (click)="selected = message"> {{ message.title }} </a>
        </li>
      </ul>

      <div *ngIf="loader" class="loader">
        <p>Buscando mensajes...</p>
        <app-loading></app-loading>
      </div>
    </div>

    <div class="col-8">
      <div *ngIf="selected !== undefined;" class="message shadow-box">
        <h3> {{ selected.title }} </h3>
        <p> {{ selected.body }} </p>
        <span> {{ selected.hour }} </span>
      </div>

      <div *ngIf="selected === undefined" class="no-message shadow-box">
        <h3> Debe seleccionar un mensaje </h3>
      </div>
    </div>

  </div>
</div>
