<div aria-labelledby="2" class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown">
	<ul>
		<li>
			<!-- TODO: Que se cuenten solo los no leídos -->
  		<div class="drop-title">Tienes {{ messages.length }} mensaje/s</div>
		</li>
		<li>
			<div class="message-center ps ps--theme_default ps--active-y" data-ps-id="5d9236dd-5d99-76c4-56fe-c7629b8cdc1b"
					*ngFor="let m of messages; let i = index;">
				<a href="#">
					<div class="user-img">
						<img alt="user" class="img-circle" src="../assets/images/users/1.jpg">
						<span [ngClass]="{'online': m.status, 'busy': !m.status}" class="profile-status pull-right"></span>
						<!-- TODO: Estado del mensaje -->
						<!-- online es verde, busy es rojo, away es naranjo, offline es naranjo -->
					</div>
					<div class="mail-contnet">
						<h5> {{ m.uid_interested.name | titlecase }} {{ m.uid_interested.last_name1 | titlecase }} {{ m.uid_interested.last_name2 | titlecase }} </h5>
						<span class="mail-desc"> {{ m.text }} </span>
						<span class="time"> {{ m.date }} </span>
					</div>
				</a>
			</div>
		</li>
		<li>
			<a class="nav-link text-center" [routerLink]="['/messages']">
				<strong>Ver todos los mensajes</strong>
				<i class="fa fa-angle-right"></i>
			</a>
		</li>
	</ul>
</div>