<div aria-labelledby="2" class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown">
	<ul>
		<li>
  		<div class="drop-title">Tienes {{ new_messages }} mensaje/s</div>
		</li>
		<li>
			<div class="message-center ps ps--theme_default ps--active-y" data-ps-id="5d9236dd-5d99-76c4-56fe-c7629b8cdc1b"
					*ngFor="let m of messages; let i = index;">
				<a class="pointer" (click)="showMessage(m.key)">
					<div class="user-img">
						<img *ngIf="m.uid_interested.uid !== uid" class="img-circle img-circle-40" [src]="m.uid_interested.img">
						<img *ngIf="m.user_owner !== uid" class="img-circle img-circle-40" [src]="m.book.user.img">
						<span [ngClass]="{'online': m.status, 'busy': !m.status}" class="profile-status pull-right"></span>
						<!-- TODO: Estado del mensaje -->
						<!-- online es verde, busy es rojo, away es naranjo, offline es naranjo -->
					</div>
					<div class="mail-contnet">
						<h5 *ngIf="m.uid_interested.uid !== uid"> {{ m.uid_interested.name | titlecase }} {{ m.uid_interested.last_name1 | titlecase }} {{ m.uid_interested.last_name2 | titlecase }} </h5>
						<h5 *ngIf="m.user_owner !== uid"> {{ m.book.user.name | titlecase }} {{ m.book.user.last_name1 | titlecase }} {{ m.book.user.last_name2 | titlecase }} </h5>
						<span class="mail-desc"> {{ m.text[m.text.length-1][m.user_owner] }} {{ m.text[m.text.length-1][m.uid_interested.uid] }} </span>
						<span class="time"> {{ m.date }} </span>
					</div>
				</a>
				<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
						<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
					</div>
					<div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
						<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
					</div>
			</div>
		</li>
		<li>
			<a class="nav-link text-center" [routerLink]="['/messages']">
				<strong>Ver todos los mensajes</strong>
				<i class="fa fa-angle-right"></i>
			</a>
		</li>
	</ul>
</div>