<header class="topbar">
	<nav class="navbar top-navbar navbar-expand-md navbar-light">
		<!-- ============================================================== -->
		<!-- Logo 															-->
		<!-- ============================================================== -->
		<div class="navbar-header">
			<a class="navbar-brand" [routerLink]="['/home']">
				<b>
					<!-- Logo icon -->
					<img src="assets/images/logo-icon.png" style="max-width: 60px; max-height: 60px" alt="homepage" class="dark-logo" />
				</b>
				<span>
					<!-- Logo text -->
					<img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
				</span>
			</a>
		</div>
		<!-- ============================================================== -->
		<!-- End Logo 														-->
		<!-- ============================================================== -->
		<div class="navbar-collapse">
			<!-- ============================================================== -->
			<!-- Toggle and nav items 											-->
			<!-- ============================================================== -->
			<ul class="navbar-nav mr-auto">
				<!-- This is  -->
				<li class="nav-item">
					<a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)">
						<i class="ti-menu"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
						<i class="ti-menu"></i>
					</a>
				</li>
				<li class="nav-item"></li>
			</ul>
			<!-- ============================================================== -->
			<!-- User profile, notifications, add book and search 				-->
			<!-- ============================================================== -->
			<ul class="navbar-nav my-lg-0">
				<!-- ============================================================== -->
				<!-- Search 														-->
				<!-- ============================================================== -->
				<li class="nav-item search-box">
					<a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
						<i class="ti-search"></i>
					</a>
					<form class="app-search">
						<input 	type="text" 
								class="form-control" 
								placeholder="Buscar..." 
								(keyup.enter)="searchBook(Search.value)" 
								#Search>
						<a class="srh-btn" >
							<i class="ti-close"></i>
						</a>
					</form>
				</li>
				<!-- ============================================================== -->
				<!-- End search 													-->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- Notifications 													-->
				<!-- ============================================================== -->
				<li class="nav-item dropdown">
  					<a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" 				aria-haspopup="true" aria-expanded="false"> 
						<i class="mdi mdi-message"></i>
						<div class="notify"> 
							<span class="heartbit"></span> 
							<span class="point"></span> 
						</div>
  					</a>
  					<div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
    					<ul>
      						<li>
        						<div class="drop-title">Notifications</div>
      						</li>
      						<li>
								<div class="message-center ps ps--theme_default" data-ps-id="25e64876-6300-b616-4d99-8cc55be034ec">
									<!-- Message -->
									<a href="#">
										<div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
										<div class="mail-contnet">
										<h5>Luanch Admin</h5> 
										<span class="mail-desc">Just see the my new admin!</span> 
										<span class="time">9:30 AM</span> </div>
									</a>
									<!-- Message -->
									<a href="#">
										<div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
										<div class="mail-contnet">
										<h5>Event today</h5> 
										<span class="mail-desc">Just a reminder that you have event</span> 
										<span class="time">9:10 AM</span> </div>
									</a>
									<!-- Message -->
									<a href="#">
										<div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
										<div class="mail-contnet">
										<h5>Settings</h5> 
										<span class="mail-desc">You can customize this template as you want</span> 
										<span class="time">9:08 AM</span> </div>
									</a>
									<!-- Message -->
									<a href="#">
										<div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
										<div class="mail-contnet">
										<h5>Pavan kumar</h5> 
										<span class="mail-desc">Just see the my admin!</span> 
										<span class="time">9:02 AM</span> </div>
									</a>
									<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
										<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
									</div>
									<div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
										<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
									</div>
								</div>
      						</li>
      						<li>
								<a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
							</li>
						</ul>
					</div>
				</li>
				<!-- ============================================================== -->
				<!-- End Notifications 												-->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- Messages														-->
				<!-- ============================================================== -->
				<li class="nav-item dropdown">
					<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" href="" id="2">
						<i class="mdi mdi-email"></i>
						<div class="notify">
							<span class="heartbit"></span>
							<span class="point"></span>
						</div>
					</a>
					<div aria-labelledby="2" class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown">
						<ul>
							<li>
							  <div class="drop-title">You have 4 new messages</div>
							</li>
							<li>
							  	<div class="message-center ps ps--theme_default ps--active-y" data-ps-id="5d9236dd-5d99-76c4-56fe-c7629b8cdc1b">
									<a href="#">
										<div class="user-img"><img alt="user" class="img-circle" 							src="../assets/images/users/1.jpg">
											<span class="profile-status online pull-right"></span>
										</div>
										<div class="mail-contnet">
											<h5>Pavan kumar</h5>
											<span class="mail-desc">Just see the my admin!</span>
											<span class="time">9:30 AM</span>
										</div>
									</a>
									<a href="#">
										<div class="user-img">
											<img alt="user" class="img-circle" src="../assets/images/users/2.jpg">
											<span class="profile-status busy pull-right"></span>
										</div>
										<div class="mail-contnet">
											<h5>Sonu Nigam</h5>
											<span class="mail-desc">I've sung a song! See you at</span>
											<span class="time">9:10 AM</span>
										</div>
									</a>
									<a href="#">
										<div class="user-img">
											<img alt="user" class="img-circle" src="../assets/images/users/3.jpg">
											<span class="profile-status away pull-right"></span>
										</div>
										<div class="mail-contnet">
											<h5>Arijit Sinh</h5>
											<span class="mail-desc">I am a singer!</span>
											<span class="time">9:08 AM</span>
										</div>
									</a>
									<a href="#">
										<div class="user-img">
											<img alt="user" class="img-circle" src="../assets/images/users/4.jpg">
											<span class="profile-status offline pull-right"></span>
										</div>
										<div class="mail-contnet">
											<h5>Pavan kumar</h5>
											<span class="mail-desc">Just see the my admin!</span>
											<span class="time">9:02 AM</span>
										</div>
									</a>
									<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
										<div class="ps__scrollbar-x" style="left: 0px; width: 0px;" tabindex="0"></div>
									</div>
									<div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
										<div class="ps__scrollbar-y" style="top: 0px; height: 0px;" tabindex="0"></div>
									</div>
									<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
										<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
									</div>
									<div class="ps__scrollbar-y-rail" style="top: 0px; height: 200px; right: 0px;">
										<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 119px;"></div>
									</div>
							  </div>
							</li>
							<li>
								<a class="nav-link text-center" href="javascript:void(0);">
									<strong>See all e-Mails</strong>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<!-- ============================================================== -->
				<!-- End messages 														-->
				<!-- ============================================================== -->	

				<!-- ============================================================== -->
				<!-- Add book 														-->
				<!-- ============================================================== -->
				<li class="nav-item">
					<a [routerLink]="['/addBook']" class="nav-link waves-effect waves-dark">
						<img src="assets/images/add.png" alt="add_book" style="width: 25px;" />
					</a>

				</li>
				<!-- ============================================================== -->
				<!-- End Add book 													-->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- Profile 														-->
				<!-- ============================================================== -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="../assets/images/users/profile.jpg" alt="user" class="profile-pic" />
					</a>
					<div class="dropdown-menu dropdown-menu-right fadeIn animated">
						<ul class="dropdown-user">
							<li>
								<div class="dw-user-box">
									<div class="u-img">
										<img src="../assets/images/users/1.jpg" alt="user">
									</div>
									<div class="u-text">
										<h4>{{ profile.name }}</h4>
										<p class="text-muted">varun@gmail.com</p>
										<a [routerLink]="['/profile']"
											class="btn btn-rounded btn-danger btn-sm">
											Ver perfil
										</a>
									</div>
								</div>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a [routerLink]="['/profile']">
									<i class="ti-user"></i>
									&nbsp; Mi perfil
								</a>
							</li>
							<li>
								<a [routerLink]="['/library']">
									<i class="ti-wallet"></i>
									&nbsp; Mi biblioteca
								</a>
							</li>
							<li>
								<a [routerLink]="['/messages']">
									<i class="ti-email"></i>
									&nbsp; Mis mensajes
								</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a (click)="logout()">
									<i class="fa fa-power-off"></i>
									&nbsp; Cerrar sesión
								</a>
							</li>
						</ul>
					</div>
				</li>
				<!-- ============================================================== -->
				<!-- End Profile 													-->
				<!-- ============================================================== -->
			</ul>
		</div>
	</nav>
</header>