<!-- ============================================================== -->
<!-- Profile options																								-->
<!-- ============================================================== -->
<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="card" style="width: 18rem;">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" style="cursor: pointer;" 
						[ngClass]="{'active': profile_options === 'my_profile'}"
						(click)="profile_options = 'my_profile'">
						Mi perfil
					</li>
					<li class="list-group-item" style="cursor: pointer;" 
						[ngClass]="{'active': profile_options === 'edit_profile'}"
						(click)="profile_options = 'edit_profile'">
						Editar perfil
					</li>
					<li class="list-group-item" style="cursor: pointer;" 
						[ngClass]="{'active': profile_options === 'change_pass_profile'}"
						(click)="profile_options = 'change_pass_profile'">
						Cambiar contraseña
					</li>
					<li class="list-group-item" style="cursor: pointer;" 
						[ngClass]="{'active': profile_options === 'preference_profile'}"
						(click)="profile_options = 'preference_profile'">
						Preferencias de entrega
					</li>
					<li class="list-group-item" style="cursor: pointer;" 
						[ngClass]="{'active': profile_options === 'delete_profile'}"
						(click)="profile_options = 'delete_profile'">
						Eliminar cuenta
					</li>
				</ul>
			</div>
		</div>




		<div [ngSwitch]="profile_options" class="col-8">
			<!-- ============================================================== -->
			<!-- Show profile													-->
			<!-- ============================================================== -->
			<div *ngSwitchCase="'my_profile'">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="m-t-30" align="center"> 
								<img src="../assets/images/profile.jpg" class="img-circle" width="150" />
								<h4 class="card-title m-t-10">Steve Jobs</h4>
								<h6 class="card-subtitle">Accoubts Manager Amix corp</h6>
								<div class="row text-center justify-content-md-center">
									<div class="col-4">
										<a href="javascript:void(0)" class="link">
											<i class="icon-people"></i> 
											<font class="font-medium">254</font>
										</a>
									</div>
									<div class="col-4">
										<a href="javascript:void(0)" class="link">	 
											<i class="icon-picture"></i> 
											<font class="font-medium">54</font>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div>
						<hr> 
						</div>
						<div class="card-body"> 
							<small class="text-muted">Correo electrónico</small>
							<h6>varum@gmail.com</h6> 
							<small class="text-muted p-t-30 db">Teléfono de contacto</small>
							<h6>+91 654 784 547</h6> 
							<small class="text-muted p-t-30 db">Comuna de residencia</small>
							<h6>Santiago centro</h6>
							<div class="map-box">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div> 
							<div class="dropdown-divider"></div>

							<small class="text-muted p-t-30 db">Redes sociales</small>
							<br/>
							<button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
							<button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
							<button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End show profile												-->
			<!-- ============================================================== -->	

			<!-- ============================================================== -->
			<!-- Edit profile													-->
			<!-- ============================================================== -->
			<div *ngSwitchCase="'edit_profile'">
				<div style="background-color: #FFFFFF;" class="tab-pane active" id="settings" role="tabpanel" aria-expanded="true">
					<div class="card-body">
						<form class="form-horizontal form-material">
							<div class="form-group">
								<label class="col-md-12">Nombre completo</label>
								<div class="col-md-12">
									<input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
								</div>
							</div>
							<div class="form-group">
								<label for="example-email" class="col-md-12">Correo electrónico</label>
								<div class="col-md-12">
									<input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-12">Teléfono de contacto</label>
								<div class="col-md-12">
									<input type="text" placeholder="123 456 7890" class="form-control form-control-line">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-12">Información adicional</label>
								<div class="col-md-12">
									<textarea rows="5" class="form-control form-control-line"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-12">Comuna de residencia</label>
								<div class="col-sm-12">
									<select class="form-control form-control-line">
										<option>Santiago centro</option>
										<option>Providencia</option>
										<option>Recoleta</option>
										<option>Estación central</option>
										<option>San Miguel</option>
										<option>Ñuñoa</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<button class="btn btn-success">Actualizar perfil</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End edit profile																								-->
			<!-- ============================================================== -->

			<!-- ============================================================== -->
			<!-- Change password																								-->
			<!-- ============================================================== -->
			<div *ngSwitchCase="'change_pass_profile'">
				<div style="background-color: #FFFFFF;" class="tab-pane active" id="settings" role="tabpanel" aria-expanded="true">
					<div class="card-body">
						<form class="form-horizontal form-material">
							<div class="form-group">
								<label class="col-md-12">Constraseña</label>
								<div class="col-md-12">
									<input type="password" value="password" class="form-control form-control-line">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-12">Repetir contraseña</label>
								<div class="col-md-12">
									<input type="password" value="password" class="form-control form-control-line">
								</div>
							<div class="form-group">
								<div class="col-sm-12">
									<button class="btn btn-success">Actualizar contraseña</button>
								</div>
							</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End change password																						-->
			<!-- ============================================================== -->


			<div *ngSwitchCase="'preference_profile'">Preferencias

			</div>
			<div *ngSwitchCase="'delete_profile'">Eliminar cuenta

			</div>
		</div>
		
		
	</div>
</div>





					





