
<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="card" style="width: 18rem;">
				<ul class="list-group list-group-flush">
					<a class="dropdown-item" [routerLink]="['/profile']">Mi perfil</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Editar perfil</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Cambiar contraseña</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Preferencias de entrega</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Eliminar cuenta</a>
				</ul>
			</div>
		</div>
		
		<!-- Column -->
		<div class="col-8">
			<div class="card">
				<div class="card-body">
					<div class="m-t-30" align="center"> 
						<img src="../assets/images/profile.jpg" class="img-circle" width="150" />
						<h4 class="card-title m-t-10">Steve Jobs</h4>
						<h6 class="card-subtitle">Accoubts Manager Amix corp</h6>
						<div class="row text-center justify-content-md-center">
							<div class="col-4">
								<a href="javascript:void(0)" class="link">
									<i class="icon-people"></i> 
									<font class="font-medium">254</font>
								</a>
							</div>
							<div class="col-4">
								<a href="javascript:void(0)" class="link">	 <i class="icon-picture"></i> 
									<font class="font-medium">54</font>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div>
				<hr> 
				</div>
				<div class="card-body"> 
					<small class="text-muted">Email address </small>
					<h6>varum@gmail.com</h6> 
					<small class="text-muted p-t-30 db">Phone</small>
					<h6>+91 654 784 547</h6> 
					<small class="text-muted p-t-30 db">Address</small>
					<h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
					<div class="map-box">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div> 
					<div class="dropdown-divider"></div>

					<small class="text-muted p-t-30 db">Social Profile</small>
					<br/>
					<button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
					<button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
					<button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
				</div>
			</div>
		</div>
		<!-- Column -->

	</div>
</div>





					





