<div class="row">
  <div class="card col-12 col-lg-4">
    <div class="card-body">
      <h4 class="card-title">Libros</h4>
      <ul class="list-unstyled">
        <li class="media border p-1" *ngFor="let book of books">
          <img class="d-flex mr-3"
               [src]="book.images[0]"
               width="60">
          <div class="media-body">
            <h5 class="mt-0 mb-2"> {{ book.title }} </h5>
            <h5 class="mt-0 mb-2">{{ book.author }}</h5>
            <h5 class="mt-0 mb-2">{{ book.language }}</h5>
            <h5 class="mt-0 mb-2" *ngIf="book.transaction === 'Ambos'"> Venta-Intercambio </h5>
            <h5 class="mt-0 mb-2" *ngIf="book.transaction !== 'Ambos'"> {{ book.transaction }}</h5>
            <h5 class="mt-0 mb-2 text-success" *ngIf="book.transaction === 'Ambos'"> ${{ book.price }} </h5>
            <h5 class="mt-0 mb-2 text-success" *ngIf="book.transaction === 'Venta'"> ${{ book.price }} </h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="card col-12 col-lg-4">
    <div class="card-body">
      <h4 class="card-title">Autores</h4>
      <ul class="list-unstyled">
        <li class="media media border p-1" *ngFor="let auth of authors">
          <img class="d-flex mr-3"
               [src]="auth.images[0]"
               width="60">
          <div class="media-body">
            <h5 class="mt-0 mb-2"> {{ auth.author }} </h5>
            <h5 class="mt-0 mb-2"> {{ auth.title }} </h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="card col-12 col-lg-4">
    <div class="card-body">
      <h4 class="card-title">Dueños</h4>
      <ul class="list-unstyled">
        <li class="media media border p-1" *ngFor="let user of owner">
          <img class="d-flex mr-3"
               [src]="user.img"
               width="60">
        <div class="media-body">
            <h5 class="mt-0 mb-2">{{ user.name }}</h5>
            <h5 class="mt-0 mb-2"> {{ user.last_name1 }} {{ user.last_name2 }} </h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>