<div class="row" *ngIf="typeInput[0] !== 'sidebar'; else Sidebar">
  <div class="card col-12 col-lg-4">
    <div class="card-body">
      <h4 class="card-title">Libros</h4>
      <ul class="list-unstyled" *ngIf="books.length > 0; else noBooks;">
        <li class="media border p-1" *ngFor="let book of books">
          <img class="d-flex mr-3"
               [src]="book.images[0]"
               width="60">
          <div class="media-body">
            <h5 class="mt-0 mb-2"> {{ book.title | titlecase }} </h5>
            <h5 class="mt-0 mb-2">{{ book.author | titlecase }}</h5>
            <h5 class="mt-0 mb-2">{{ book.language | titlecase }}</h5>
            <h5 class="mt-0 mb-2" *ngIf="book.transaction === 'Ambos'"> Venta-Intercambio </h5>
            <h5 class="mt-0 mb-2" *ngIf="book.transaction !== 'Ambos'"> {{ book.transaction }}</h5>
            <h5 class="mt-0 mb-2 text-success" *ngIf="book.transaction === 'Ambos'"> ${{ book.price }} </h5>
            <h5 class="mt-0 mb-2 text-success" *ngIf="book.transaction === 'Venta'"> ${{ book.price }} </h5>
          </div>
        </li>
      </ul>

      <ng-template #noBooks>
        <div class="alert alert-primary" role="alert">
          No se encontraron coincidencias
        </div>
      </ng-template>

    </div>
  </div>
  <div class="card col-12 col-lg-4">
    <div class="card-body">
      <h4 class="card-title">Autores</h4>
      <ul class="list-unstyled" *ngIf="authors.length > 0; else noAuth;">
        <li class="media media border p-1" *ngFor="let auth of authors">
          <img class="d-flex mr-3"
               [src]="auth.images[0]"
               width="60">
          <div class="media-body">
            <h5 class="mt-0 mb-2"> {{ auth.author | titlecase }} </h5>
            <h5 class="mt-0 mb-2"> {{ auth.title | titlecase }} </h5>
          </div>
        </li>
      </ul>

      <ng-template #noAuth>
        <div class="alert alert-primary" role="alert">
            No se encontraron coincidencias
        </div>
      </ng-template>
    </div>
  </div>

  <div class="card col-12 col-lg-4">
    <div class="card-body">
      <h4 class="card-title">Dueños</h4>
      <ul class="list-unstyled" *ngIf="owners.length > 0; else noOwner">
        <li class="media media border p-1" *ngFor="let cat of owners">
          <img class="d-flex mr-3"
               [src]="cat.img"
               width="60">
        <div class="media-body">
            <h5 class="mt-0 mb-2">{{ cat.name | titlecase }}</h5>
            <h5 class="mt-0 mb-2"> {{ cat.last_name1 | titlecase }} {{ cat.last_name2 | titlecase }} </h5>
          </div>
        </li>
      </ul>

      <ng-template #noOwner>
        <div class="alert alert-primary" role="alert">
          No se encontraron coincidencias
        </div>
      </ng-template>
    </div>
  </div>
</div>







<ng-template #Sidebar>
  <div class="card col-12">
    <div class="card-body">
      <h4 class="card-title">Búsqueda por categoría: {{ typeInput[1] }}</h4>
      <ul class="list-unstyled" *ngIf="sidebar.length > 0; else noSidebar">
        <li class="media media border p-1" *ngFor="let cat of sidebar">
          <img class="d-flex mr-3"
              [src]="cat.images[0]"
              width="60">
          <div class="media-body">
            <h5 class="mt-0 mb-2"> {{ cat.title | titlecase }} </h5>
            <h5 class="mt-0 mb-2">{{ cat.author | titlecase }}</h5>
            <h5 class="mt-0 mb-2">{{ cat.language | titlecase }}</h5>
            <h5 class="mt-0 mb-2" *ngIf="cat.transaction === 'Ambos'"> Venta-Intercambio </h5>
            <h5 class="mt-0 mb-2" *ngIf="cat.transaction !== 'Ambos'"> {{ cat.transaction }}</h5>
            <h5 class="mt-0 mb-2 text-success" *ngIf="cat.transaction === 'Ambos'"> ${{ cat.price }} </h5>
            <h5 class="mt-0 mb-2 text-success" *ngIf="cat.transaction === 'Venta'"> ${{ cat.price }} </h5>
            <hr>
            <h5 class="mt-0 mb-2"> Otras categorías a las que pertenece </h5>
            <h6 class="mt-0 mb-2" *ngFor="let genres of cat.genres"> {{ genres | titlecase }} </h6>
          </div>
        </li>
      </ul>

      <ng-template #noSidebar>
        <div class="alert alert-primary" role="alert">
          no se encontraron coincidencias
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>