<div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
  <ul>
    <li>
      <div class="drop-title">Mensajes del Administrador</div>
    </li>
    <li>
      <div class="message-center ps ps--theme_default">
        <!-- Message -->
        <a href="#" *ngFor="let m of messages">
          <div class="btn btn-info btn-circle"><i class="ti-user"></i></div>
          <div class="mail-contnet">
            <h5>{{ m.title }}</h5>
            <span class="mail-desc">{{ m.body }}</span>
            <span class="time">{{ m.day }} - {{ m.hour }}</span> 
          </div>
        </a>
        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
          <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
          <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
        </div>
      </div>
    </li>
    <li>
      <a class="nav-link text-center" href="javascript:void(0);"> 
        <strong>Check all notifications</strong> 
        <i class="fa fa-angle-right"></i> 
      </a>
    </li>
  </ul>
</div>