<!-- Menu izquierda -->
<aside class="left-sidebar">
   <!-- Sidebar scroll-->
   <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
         <ul id="sidebarnav">
            <li>
               <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                  <i class="fa fa-book"></i>
                  <span class="hide-menu"> CATEGORIAS </span>
               </a>
               <ul aria-expanded="false" class="collapse">
                  <li>
							<a href="#">Antiguedades y Coleccionables</a>
						</li>               
						<li>
							<a href="#">Arquitectura</a>
						</li>
						<li>
							<a href="#">Arte</a>
						</li>
						<li>
							<a href="#">Biografía y Autobiografía</a>
						</li>
						<li>
							<a href="#">Cuerpo, Mente y Espíritu</a>
						</li>
						<li>
							<a href="#">Negocios y Economia</a>
						</li>
						<li>
							<a href="#">Calendarios</a>
						</li>
						<li>
							<a href="#">Ficción para Niños</a>
						</li>
						<li>
							<a href="#">Niños y Jóvenes</a>
						</li>
						<li>
							<a href="#">Comics y Novelas Gráficas</a>
						</li>
						<li>
							<a href="#">Computación e Internet</a>
						</li>
						<li>
							<a href="#">Cocina, Comida y Vinos</a>
						</li>
						<li>
							<a href="#">Manualidades y Hobbies</a>
						</li>
						<li>
							<a href="#">Drama</a>
						</li>
						<li>
							<a href="#">Educación</a>
						</li>
						<li>
							<a href="#">Familia y Relaciones</a>
						</li>
						<li>
							<a href="#">Ficción</a>
						</li>
						<li>
							<a href="#">Estudio de Lenguas Extranjeras</a>
						</li>
						<li>
							<a href="#">Juegos</a>
						</li>
						<li>
							<a href="#">Jardinería</a>
						</li>
						<li>
							<a href="#">Salud y Bienestar</a>
						</li>
						<li>
							<a href="#">Historia y Geografía</a>
						</li>
						<li>
							<a href="#">Casa y Hogar</a>
						</li>
						<li>
							<a href="#">Humor</a>
						</li>
						<li>
							<a href="#">Lengua y Literatura</a>
						</li>
						<li>
							<a href="#">Leyes</a>
						</li>
						<li>
							<a href="#">Colecciones Literarias</a>
						</li>
						<li>
							<a href="#">Crítica Literaria</a>
						</li>
						<li>
							<a href="#">Matemáticas</a>
						</li>
						<li>
							<a href="#">Medicina</a>
						</li>
						<li>
							<a href="#">Música</a>
						</li>
						<li>
							<a href="#">Naturaleza y Aire libre</a>
						</li>
						<li>
							<a href="#">Artes Escénicas</a>
						</li>
						<li>
							<a href="#">Mascotas y Animales</a>
						</li>
						<li>
							<a href="#">Filosofíaa</a>
						</li>
						<li>
							<a href="#">Fotografía</a>
						</li>
						<li>
							<a href="#">Poesía</a>
						</li>
						<li>
							<a href="#">Ciencias Políticas</a>
						</li>
						<li>   
							<a href="#">Psicología</a>
						</li>
						<li>
							<a href="#">Referencia</a>
						</li>
						<li>
							<a href="#">Religión y Espiritualidad</a>
						</li>
						<li>
							<a href="#">Ciencia</a>
						</li>
						<li>
							<a href="#">Autoayuda</a>
						</li>
						<li>
							<a href="#">Ciencias Sociales</a>
						</li>
						<li>
							<a href="#">Deportes y Recreación</a>
						</li>
						<li>
							<a href="#">Papelería</a>
						</li>
						<li>
							<a href="#">Guías de Ayuda</a>
						</li>
						<li>
							<a href="#">Tecnología</a>
						</li>
						<li>
							<a href="#">Transporte</a>
						</li>
						<li>
							<a href="#">Viajes</a>
						</li>
						<li>
							<a href="#">Crímenes Verdaderos</a>
						</li>
						<li>
							<a href="#">Video y DVD</a>
						</li>
						<li>
							<a href="#">Young Adult Fiction</a>
						</li>
						<li>
							<a href="#">Young Adult Nonfiction</a>
						</li>
               </ul>
            </li>
         </ul>
      </nav>
      <!-- End Sidebar navigation -->
   </div>
   <!-- End Sidebar scroll-->
</aside>
<!-- FIN Menu izquierda -->