<!-- Menu izquierda -->
<aside class="left-sidebar">
	<!-- Sidebar scroll-->
	<div class="scroll-sidebar">
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav">
			<ul id="sidebarnav">
				<li class="nav-devider"></li>
				<li class="nav-small-cap">CATEGORÍAS</li>

				<li class="nav-small-cap">
					<a href="#">Antiguedades y Coleccionables</a>
				</li>               
				<li class="nav-small-cap">
					<a href="#">Arquitectura</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Arte</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Biografía y Autobiografía</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Cuerpo, Mente y Espíritu</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Negocios y Economia</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Calendarios</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Ficción para Niños</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Niños y Jóvenes</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Comics y Novelas Gráficas</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Computación e Internet</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Cocina, Comida y Vinos</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Manualidades y Hobbies</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Drama</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Educación</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Familia y Relaciones</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Ficción</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Estudio de Lenguas Extranjeras</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Juegos</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Jardinería</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Salud y Bienestar</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Historia y Geografía</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Casa y Hogar</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Humor</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Lengua y Literatura</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Leyes</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Colecciones Literarias</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Crítica Literaria</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Matemáticas</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Medicina</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Música</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Naturaleza y Aire libre</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Artes Escénicas</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Mascotas y Animales</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Filosofíaa</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Fotografía</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Poesía</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Ciencias Políticas</a>
				</li>
				<li class="nav-small-cap">   
					<a href="#">Psicología</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Referencia</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Religión y Espiritualidad</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Ciencia</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Autoayuda</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Ciencias Sociales</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Deportes y Recreación</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Papelería</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Guías de Ayuda</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Tecnología</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Transporte</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Viajes</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Crímenes Verdaderos</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Video y DVD</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Young Adult Fiction</a>
				</li>
				<li class="nav-small-cap">
					<a href="#">Young Adult Nonfiction</a>
				</li>
		    </ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>
<!-- Fin Menu izquierda -->