
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-12">
		<div class="card m-b-0">
			<div class="chat-main-box" style="height: 500px;">
				<!-- =============================================================== -->
				<!-- Left panel																											 -->
				<!-- =============================================================== -->
				<!-- TODO: Hacer que el panel izq se vea mas grande jiji -->
				<div class="chat-left-aside col-sm-3 col-md-4" style="width: 100%; height: 500px; overflow: scroll;">
					<div class="open-panel">
						<i class="ti-angle-right"></i>
					</div>
					<div class="chat-left-inner">
						<div class="form-material">
							<input class="form-control p-20" type="text" placeholder="Buscar Chat">
						</div>
						<ul class="chatonline style-none">
							<li *ngFor="let c of chats | async" (click)="showMessages(c.key)">
								<!-- INTERESADO -->
								<a [ngClass]="{'active': key === c.key}" *ngIf="c !== undefined && uid !== c.uid_interested.uid">
									<img [src]="c.uid_interested.img" alt="user-img" class="img-circle img-circle-30"> 
									<span>
										{{ c.uid_interested.name | titlecase }} 
										{{ c.uid_interested.last_name1 | titlecase }} 
										{{ c.uid_interested.last_name2 | titlecase }}
										<small class="text-muted">{{ c.book.title | titlecase }}</small>
									</span>
								</a>

								<!-- DUENO -->
								<a [ngClass]="{'active': key === c.key}" *ngIf="c !== undefined && uid !== c.user_owner">
									<img [src]="c.book.user.img" alt="user-img" class="img-circle img-circle-30"> 
									<span>
										{{ c.book.user.name | titlecase }} 
										{{ c.book.user.last_name1 | titlecase }} 
										{{ c.book.user.last_name2 | titlecase }}
										<small class="text-muted">{{ c.book.title | titlecase }}</small>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- =============================================================== -->
				<!-- End left panel																									 -->
				<!-- =============================================================== -->

				<!-- =============================================================== -->
				<!-- Right panel																										 -->
				<!-- =============================================================== -->
				<div class="chat-right-aside col-sm-9 col-md-8" style="height: 500px; overflow: scroll;">
					<div class="chat-main-header" 
							 style="position: fixed; width: 100%; z-index: 1000; background: white;">
						<div class="p-20 b-b">
							<h3 class="box-title">Chat Message</h3>
						</div>
					</div>
				<div *ngIf="key !== undefined; else elseChat" class="chat-rbox m-4"> 
					<ul class="chat-list p-10">
						<!--chat Row -->
						<div *ngFor="let text of message.text; let i = index;">

							<!-- DERECHA USUARIO ACTIVO -->
							<li class="reverse">
								<!-- DUEÑO -->
								<div *ngIf="message.user_owner === uid && text[message.user_owner] !== undefined"> 
									<div class="chat-time">{{ message.date }}</div>
									<div class="chat-content">
										<h5>
											{{ message.book.user.name | titlecase }} 
											{{ message.book.user.last_name1 | titlecase }} 
											{{ message.book.user.last_name2 | titlecase }}
										</h5>
											<div class="box bg-light-inverse">{{ text[message.user_owner] }}
												</div>
									</div>
									<div class="chat-img">
										<img [src]="message.book.user.img" class="img-circle-40"/>
									</div>
								</div>

								<!-- INTERESADO -->
								<div *ngIf="message.uid_interested.uid === uid && text[message.uid_interested.uid] !== undefined">
									<div class="chat-time">{{ message.date }}</div>
									<div class="chat-content">
										<h5>
											{{ message.uid_interested.name | titlecase }} 
											{{ message.uid_interested.last_name1 | titlecase }} 
											{{ message.uid_interested.last_name2 | titlecase }}
										</h5>
										<div class="box bg-light-inverse" *ngIf="i === 0; else answer;">
											{{ text[message.uid_interested.uid] }} <br>
											Libro: {{  message.book.title }} <br>
											Transacción: {{ message.transaction }} <br>
											<span *ngIf="message.transaction === 'Venta'">Valor: {{ message.price }} <br></span>
											Lugar y horario: {{ message.pref }} <br>
										</div>
										<ng-template #answer> 
												<div class="box bg-light-info">
													 {{ text[message.uid_interested.uid] }} </div>	
										</ng-template>
									</div>
									<div class="chat-img">
										<img [src]="message.uid_interested.img" class="img-circle-40"/>
									</div>
								</div>
							</li>
	
							<!-- IZQUIERDA -->
							<li>
								<!-- INTERESADO -->
								<div *ngIf="message.uid_interested.uid !== uid && text[message.uid_interested.uid] !== undefined">
									<div class="chat-img">
										<img [src]="message.uid_interested.img" class="img-circle-40"/>
									</div>
									<div class="chat-content">
										<h5> 
											{{ message.uid_interested.name | titlecase }} 
											{{ message.uid_interested.last_name1 | titlecase }} 
											{{ message.uid_interested.last_name2 | titlecase }}
										</h5>
										<div class="box bg-light-info" *ngIf="i === 0; else answer;">
											{{ text[message.uid_interested.uid] }} <br>
											Libro: {{  message.book.title }} <br>
											Transacción: {{ message.transaction }} <br>
											<span *ngIf="message.transaction === 'Venta'">Valor: {{ message.price }} <br></span>
											Lugar y horario: {{ message.pref }} <br>
										</div>
										<ng-template #answer> 
												<div class="box bg-light-info">
													 {{ text[message.uid_interested.uid] }} </div>	
										</ng-template>
									</div>
									<div class="chat-time">{{ message.date }}</div>
								</div>

								<!-- DUEÑO -->
								<div *ngIf="message.user_owner !== uid && text[message.user_owner] !== undefined">
									<div class="chat-img">
										<img [src]="message.book.user.img" class="img-circle-40"/>
									</div>
									<div class="chat-content">
										<h5> 
											{{ message.book.user.name | titlecase }} 
											{{ message.book.user.last_name1 | titlecase }} 
											{{ message.book.user.last_name2 | titlecase }}
										</h5>
										<div class="box bg-light-info">{{ text[message.user_owner] }} </div>
									</div>
									<div class="chat-time">{{ message.date }}</div>
								</div>
							</li>
						</div>
					</ul>
				</div>
				<div class="card-body b-t" *ngIf="key !== undefined;">
					<div class="row">
						<div class="col-8">
							<textarea [(ngModel)]="text_answer" name="text_answer" placeholder="Escribe tu respuesta aquí..." class="form-control b-0"></textarea>
						</div>
						<div class="col-4 text-right">
							<button type="button" class="btn btn-info btn-circle btn-lg" (click)="sendMessage(message, text_answer)">
								<i class="fa fa-paper-plane-o"></i> 
							</button>
						</div>
					</div>
				</div>
				</div>
				<!-- =============================================================== -->
				<!-- End right panel																											 -->
				<!-- =============================================================== -->
			</div>
		</div>
	</div>
<div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->


<ng-template #elseChat>
	<br><br><br><br><br>
	<div class="alert alert-primary" role="alert">
		Debe seleccionar un mensaje...
	</div>
</ng-template>