<div class="container-dashboard">
	<!-- =============================================================== -->
	<!-- Report boxes																										 -->
	<!-- =============================================================== -->
	<div class="row">
		<div class="col-lg-4">
			<div class="card">
				<div class="card-body">
					<div class="d-flex no-block">
						<div class="m-r-20 align-self-center">
							<span class="lstick m-r-20"></span>
							<img src="../assets/images/icon/staff.png" alt="Income" />
						</div>
						<div class="align-self-center">
							<h6 class="text-muted m-t-10 m-b-0">Total de usuarios</h6>
							<h2 class="m-t-0">{{ count_users }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card">
				<div class="card-body">
					<div class="d-flex no-block">
						<div class="m-r-20 align-self-center">
							<span class="lstick m-r-20"></span>
							<img src="../assets/images/icon/expense.png" alt="Income" />
						</div>
						<div class="align-self-center">
							<h6 class="text-muted m-t-10 m-b-0">Total de libros</h6>
							<h2 class="m-t-0">{{ count_books }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card">
				<div class="card-body">
					<div class="d-flex no-block">
						<div class="m-r-20 align-self-center">
							<span class="lstick m-r-20"></span>
							<img src="../assets/images/icon/assets.png" alt="Income" />
						</div>
						<div class="align-self-center">
							<h6 class="text-muted m-t-10 m-b-0">Mensajes enviados</h6>
							<h2 class="m-t-0">{{ count_messages }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- =============================================================== -->
	<!-- End report boxes																								 -->
	<!-- =============================================================== -->

	<!-- ============================================================== -->
	<!-- Reports			              																		-->
	<!-- ============================================================== -->
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="d-flex">
						<div>
							<h3 class="card-title m-b-5">
							<span class="lstick"></span>Reportes 
							</h3>
						</div>
						<div class="ml-auto">
							<label>Fecha</label>
							<select class="custom-select b-0" [(ngModel)]="date" name="date" (ngModelChange)="searchReportDate($event)">Fecha
								<option value="all" selected>Todas</option>
								<option *ngFor="let r of reportsData">{{ r.day }}</option>
							</select>
						</div>
					</div>
				</div>
				<table class="table vm no-th-brd no-wrap pro-of-month">
					<thead>
						<tr>
							<th>Usuario que reporta</th>
							<th>Tipo de reporte</th>
							<th>Fecha</th>
							<th>Hora</th>
							<th>Reporte</th>
							<th>Estado</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let r of reports; let i = index;">
							<td>
								<h6>{{ r.user.name | titlecase }} {{ r.user.last_name1 | titlecase }} {{ r.user.last_name2 | titlecase }}</h6>
							</td>
							<td>
								<h6>{{ r.type }}</h6>
							</td>
							<td>
								<h6>{{ r.day }}</h6>
							</td>
							<td>
								<h6>{{ r.hour }}</h6>
							</td>
							<td>
								<h6 *ngIf="r.type == 'Reporte de imagen'">Se reportan las imagenes contenidas en el siguiente <a [href]="r.img" target="_blank"> link </a> </h6>
								<h6 *ngIf="r.type == 'Reporte de usuario'">Se reporta al usuario {{ r.user_reported.name | titlecase }} {{ r.user_reported.last_name1 | titlecase }} {{ r.user_reported.last_name2 | titlecase }}</h6>
							</td>
							<td>
								<span *ngIf="[r.status] == 'Revisado'" class="label label-success label-rounded">Revisado</span>
								<span *ngIf="[r.status] == 'No revisado'" class="label label-danger label-rounded">No revisado</span>
							</td>
							<td>
								<button class="btn btn-primary mr-3" (click)="reportBlock(r.type, r, i)"> Bloquear </button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
  </div>
  <!-- ============================================================== -->
	<!-- End reports			           																		-->
	<!-- ============================================================== -->

	<!-- =============================================================== -->
	<!-- Users status																										 -->
	<!-- =============================================================== -->
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="d-flex">
						<div>
							<h4 class="card-title"><span class="lstick"></span>Estado de usuarios</h4>
						</div>
					</div>
					<div class="table-responsive m-t-20">
						<table class="table vm no-th-brd no-wrap pro-of-month">
							<thead>
								<tr>
									<th colspan="2">Usuario</th>
									<th>Tipo de usuario</th>
									<th>Estado</th>
									<th>Cambiar estado</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let u of users">
									<td style="width:50px;"><span class="round">
										<img src="../assets/images/users/1.jpg" alt="user" width="50"></span>
									</td>
									<td>
										<h6>{{ u.name | titlecase }} {{ u.last_name1 | titlecase }} {{ u.last_name2 | titlecase }}</h6>
										<small class="text-muted">Creado el: {{ u.created_date }}</small>
									</td>
									<td>{{ u.role | titlecase }}</td>
									<td>
										<span *ngIf="[u.status] == 'true'" class="label label-success label-rounded">Activo</span>
										<span *ngIf="[u.status] == 'false'" class="label label-danger label-rounded">Inactivo</span>
									</td>
									<td>
										<button class="btn btn-info" (click)="changeState(u)">Cambiar estado</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- =============================================================== -->
	<!-- End users status																								 -->
	<!-- =============================================================== -->

	<!-- ============================================================== -->
	<!-- Todo list 																											-->
	<!-- ============================================================== -->
	<!-- <div class="row">
		<div class="col-lg-6 col-xlg-8">
			<div class="card">
				<div class="card-body">
					<div class="d-flex">
						<div>
							<h4 class="card-title"><span class="lstick"></span>To Do list</h4>
						</div>
						<div class="ml-auto">
							<button class="pull-right btn btn-circle btn-success" data-toggle="modal" data-target="#myModal">
								<i class="ti-plus"></i>
							</button>
						</div>
					</div>
					
					<div class="to-do-widget m-t-20">
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Agregar tarea</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
									</div>
									<div class="modal-body">
										<form [formGroup]="form" (ngSubmit)="addTask()" novalidate>
											<div class="form-group">
												<label>Nombre de la tarea</label>
												<input formControlName="task" type="text" class="form-control" placeholder="Revisar mensajes"> 
											</div>
											<div class="form-group">
												<label>Descripción de la tarea</label>
												<input formControlName="description" type="text" class="form-control" placeholder="Revisar la lista de mensajes que están pendientes"> 
											</div>
											<div class="form-group">
												<label>Prioridad</label>
												<select formControlName="priority" class="custom-select form-control pull-right">
													<option value="high">Alta</option>
													<option value="medium">Media</option>
													<option value="low">Baja</option>
												</select>
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-success">Agregar</button>
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						==============================================================
						<ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
							<li class="list-group-item" data-role="task" *ngFor="let t of tasks">
								<div class="checkbox checkbox-info m-b-10">
									<input type="checkbox" id="inputSchedule" name="inputCheckboxesSchedule">
									<label for="inputSchedule" class=""> 
										<span>{{ t.task }}</span> 
										<span class="label label-rounded label-danger pull-right">{{ t.description }}</span>
									</label>
								</div>
							</li>
							<li class="list-group-item" data-role="task">
								<div class="checkbox checkbox-info">
									<input type="checkbox" id="inputBook" name="inputCheckboxesBook">
									<label for="inputBook" class=""> 
										<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</span>
										<span class="label label-primary label-rounded pull-right">{{ t.priority }}</span> 
									</label>
								</div>
								<div class="item-date"> 26 jun 2017</div>
							</li>
							<li class="list-group-item" data-role="task">
								<div class="checkbox checkbox-info">
									<input type="checkbox" id="inputCall" name="inputCheckboxesCall">
									<label for="inputCall" class=""> 
										<span>Give Purchase report to</span> 
										<span class="label label-info label-rounded pull-right">Yesterday</span> 
									</label>
								</div>
							</li>
							<li class="list-group-item" data-role="task">
								<div class="checkbox checkbox-info">
									<input type="checkbox" id="inputForward" name="inputCheckboxesForward">
									<label for="inputForward" class=""> 
										<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</span> 
										<span class="label label-warning label-rounded pull-right">2 weeks</span> 
										</label>
								</div>
							<div class="item-date">{{ actual_day }}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- ============================================================== -->
	<!-- End todo list 																									-->
	<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
					