<!-- ============================================================================== -->
<!-- Options view bar																-->
<!-- ============================================================================== -->
<div class="container mb-3">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<div class="btn-group mr-2" role="group">
				<button type="button" class="btn btn-secondary">
			    	<a class="" (click)="view_bar = 'all'">Todos</a>
				</button>
				<button type="button" class="btn btn-secondary">
			    	<a class="" (click)="view_bar = 'exchange'">Intercambio</a>
				</button>
				<button type="button" class="btn btn-secondary">
			    	<a class="" (click)="view_bar = 'sales'">Ventas</a>
				</button>
				<button type="button" class="btn btn-secondary">
					<a class="" (click)="view_bar = 'both'">Ambos</a>
				</button>
			</div>
		</div>
		<div class="col-4"></div>
	</div>
</div>
<!-- ============================================================================== -->
<!-- End options view bar															-->
<!-- ============================================================================== -->

<!-- ============================================================================== -->
<!-- Cards according to view bar													-->
<!-- ============================================================================== -->
<div [ngSwitch]="view_bar">
	<div *ngSwitchCase="'all'">
		<app-card-book type="all" [booksHome]="books"></app-card-book>
	</div>
	<div *ngSwitchCase="'exchange'">
		<app-card-book type="Intercambio" [booksHome]="books"></app-card-book>
	</div>
	<div *ngSwitchCase="'sales'">
		<app-card-book type="Venta" [booksHome]="books"></app-card-book>
	</div>
	<div *ngSwitchCase="'both'">
		<app-card-book type="Ambos" [booksHome]="books"></app-card-book>
	</div>
</div>
<!-- ============================================================================== -->
<!-- End cards according to view bar													-->
<!-- ============================================================================== -->
