<!-- ============================================================================== -->
<!-- Options view bar																-->
<!-- ============================================================================== -->
<div class="container">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<div class="btn-group mr-2" role="group">
				
				<button type="button" class="btn btn-secondary">
			    	<a class="" (click)="view_bar = 'all'">Todos</a>
				</button>
				<button type="button" class="btn btn-secondary">
			    	<a class="" (click)="view_bar = 'exchange'">Intercambio</a>
				</button>
				<button type="button" class="btn btn-secondary">
			    	<a class="" (click)="view_bar = 'sales'">Ventas</a>
				</button>
				<button type="button" class="btn btn-secondary">
					<a class="" (click)="view_bar = 'both'">Ambos</a>
				</button>
			</div>
		</div>
		<div class="col-4"></div>
	</div>
</div>

<div [ngSwitch]="view_bar">
	<div *ngSwitchCase="'all'">
		<app-card-book></app-card-book>
	</div>
	<div *ngSwitchCase="'exchange'">
		<app-card-book *ngIf="book.transaction === 'Intercambio'"></app-card-book>
	</div>
	<div *ngSwitchCase="'sales'">
		<app-card-book *ngIf="book.transaction === 'Venta'"></app-card-book>
	</div>
	<div *ngSwitchCase="'both'">
		<app-card-book *ngIf="book.transaction === 'Ambos'"></app-card-book>
	</div>
</div>