
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<h1 style="margin-top:30px;">Agregar libro</h1>

				<!-- Esto da al servicio -->
				<form (ngSubmit)="saveBook()" #forma="ngForm">

						<div class="form-group">
						    <label for="formGroupExampleInput">Titulo</label>
						    <input [(ngModel)]="book.title" name="title"
						    	type="text"	class="form-control" id="formGroupExampleInput" 
						    	placeholder="Título del libro" required>
						</div>

						<div class="form-group">
						    <label for="formGroupExampleInput">Autor</label>
						    <input [(ngModel)]="book.author" name="author"
						    	type="text"	class="form-control" id="formGroupExampleInput" 
						    	placeholder="Autor/a del libro" required>
						</div>

						<div class="form-group">
						    <label for="formGroupExampleInput">Editorial</label>
						    <input [(ngModel)]="book.editorial" name="editorial"
						    	type="text"	class="form-control" id="formGroupExampleInput" 
						    	placeholder="Editorial del libro" required>
						</div>

						<div class="form-group">
							<button [disabled]="!forma.valid" 
								type="submit" class="btn btn-outline-primary">
								Guardar libro
							</button>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>





			