<div class="container" style="background-color: #ffffff;">
	<h1 style="padding-top:30px;">Agregar libro</h1>
	<form class="form-material m-t-40" [formGroup]="form" (ngSubmit)="addBook()" novalidate="novalidate">
		<div class="row">
			<!-- Inicio col 1 -->
			<div class="col-6">
				<div class="form-group">
					<label>Título del texto</label>
					<input type="text" formControlName="title" 
							class="form-control form-control-line border-input-custom" placeholder="Ej.: Harry Potter">
				</div>

				<div class="form-group">
					<label>Autor del texto</label>
					<input type="text" formControlName="author"
							class="form-control form-control-line border-input-custom" placeholder="Ej.: J. K. Rowling">
				</div>

				<div class="form-group">
					<label>Editorial del texto</label>
					<input type="text" formControlName="editorial"
							class="form-control form-control-line border-input-custom" placeholder="Ej.: Salamandra">
				</div>

				<div class="form-group border-input-custom">
					<label>Tipo de elemento</label>
					<select class="form-control" formControlName="type">
						<option value="Libro">Libro</option>
						<option value="Cómic">Cómic</option>
						<option value="Lectura especializada">Lectura especializada</option>
						<option value="Literatura infantil">Literatura infantil</option>
						<option value="Otro">Otro</option>
					</select>
				</div>

				<!-- TODO: Dejar esto más bonito -->
				<div class="form-group">
					<input id="file" type="file" style="padding-top: 25px;" (change)="uploadFile($event)" multiple>
				</div>
		
			</div>
			<!-- Fin col 1  -->
				
			<!-- Inicio col 2  -->
			<div class="col-6">
				<div class="form-group border-input-custom">
					<label>Tipo de transacción</label>
					<select class="form-control" formControlName="transaction">
						<option value="Intercambio">Intercambio</option>
						<option value="Venta">Venta</option>
						<option value="Ambos">Ambos</option>
					</select>
				</div>

				<div class="form-group" *ngIf="form.value.transaction === 'Venta'">
					<label>Precio</label>
					<input 	formControlName="price" onlynumber="true" minlength="3" maxlength="6" 
							class="form-control form-control-line border-input-custom" placeholder="Ej.: 5000">
				</div>

				<div class="form-group" *ngIf="form.value.transaction === 'Ambos'">
					<label>Precio</label>
					<input 	formControlName="price" onlynumber="true" minlength="3" maxlength="6" 
							class="form-control form-control-line border-input-custom" placeholder="Ej.: 5000">
				</div>

				<div class="form-group border-input-custom">
					<label>Idioma</label>
					<select class="form-control" 
							formControlName="language">
						<option value="Español">Español</option>
						<option value="Inglés">Inglés</option>
						<option value="Otro">Otro</option>
					</select>
				</div>

				<div class="form-group border-input-custom" 
					 name="original">
					<label>Texto original</label>
					<select class="form-control" formControlName="original">
						<option value="Sí">Sí</option>
						<option value="No">No</option>
					</select>
				</div>

				<div class="form-group">
					<label>Cantidad de páginas</label>
					<input 	formControlName="num_page" onlynumber="true" minlength="2" maxlength="5" 
							class="form-control form-control-line border-input-custom" placeholder="Ej.: 324">
				</div>
					
				<div class="form-group">
					<label>Comentario</label>
					<textarea class="form-control border-input-custom" formControlName="comment" rows="2" 
								placeholder="Ej.: El libro se encuentra en buen estado, leído solo una vez.">
					</textarea>
				</div>
			</div>
			<!-- Fin col 2  -->
		</div>

		<div class="form-group border-input-custom">
			<label>Categoría a la que pertenece</label>
			<!-- FIXME: Revisar po jjj -->
			<div class="ms-container" id="ms-pre-selected-options">
				<div class="ms-selectable">
					<select class="ms-list contenedor" multiple='multiple'>
						<option [value]='c' class="ms-elem-selectable" *ngFor="let c of categories; let i = index;"
							(click)="addCategory(i)"> {{ c }} </option>
					</select>
				</div>
				<div class="ms-selection">
					<select class="ms-list contenedor" multiple='multiple' formControlName="genres" style="margin-left: 35px;">
						<option [value]='sc' class="ms-elem-selection" *ngFor="let sc of selected_categories; let i = index;"
							(click)="removeCategory(i)"> {{ sc }} </option>
					</select>
				</div>								
			</div>
		</div>
		
		<div class="row justify-content-md-center">
			<div class="form-group">
				<button type="submit" class="btn btn-outline-info">Guardar</button>
			</div>
		</div>
	</form>
</div>





			