

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<h1 style="margin-top:30px;">Agregar libro</h1>
				<form enctypez="multipart/form-data" method="POST" class="">





<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
  </div>
  <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>    









				<input type="submit" value="Enviar" class="btn btn-primary float-right btn-lg">
				</form>
			</div>
		</div>
	</div>
</div>




			