
<div class="card-body" style="background-color: #FFFFFF;">
	<!-- Row -->
	<div class="row">
	   <div class="col-lg-12">
		<div class="card">
		   <form class="form-horizontal" role="form">
			<div class="form-body">
			   <div class="row">
				
				<div class="col-md-6">
					<!-- CARRUSEL FOTOS LIBRO -->
					<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item" *ngFor="let img of book.images; let i=index;" [ngClass]="{'active': i===0}" >
								<img class="d-block img-carousel" [src]="img">
							</div> 
						</div>
						<a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<!-- FIN CARRUSEL FOTOS LIBRO -->
				</div>
   
				<div class="col-md-6">
				<!-- TÍTULO LIBRO -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Título:</label>
					   <div class="col-md-6">
						<p class="form-control-static"> {{ book.title }} </p>
					   </div>
				   </div>
				   
				   <!-- AUTOR/A LIBRO -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Autor/a:</label>
					<div class="col-md-6">
					   <p class="form-control-static"> {{ book.author }} </p>
					</div>
				   </div>
   
				   <!-- TIPO DE TRANSACCIÓN -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Tipo de transacción:</label>
					<div class="col-md-6">
					   <p class="form-control-static"> {{ book.transaction }} </p>
					</div>
				   </div>
   
				   <!-- PRECIO LIBRO -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Precio:</label>
					<div class="col-md-6">
					   <p class="form-control-static"> {{ book.price }} </p>
					</div>
				   </div>

				   	<div class="form-group row">
						<label class="control-label text-left col-md-6">Dueño:</label>
						<div class="col-md-6">
						   <p class="form-control-static"> 
								{{ book.user.name | titlecase }} 
								{{ book.user.last_name1 | titlecase }}
								{{ book.user.last_name2 | titlecase }}
							</p>
						</div>
					</div>
				</div>
			   </div>
   
			   <!-- ROW DETALLES -->
			   <h3 class="box-title">Detalles</h3>
			   <hr class="m-t-0 m-b-40">
			   <div class="row">
   
				<div class="col-md-6">
				   <!-- TIPO DE ELEMENTO -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Elemento:</label>
					<div class="col-md-6">
					   <p class="form-control-static"> {{ book.type }} </p>
					</div>
				   </div>
   
				   <!-- GÉNERO -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Género:</label>
					<div class="col-md-6">
					   <p class="form-control-static"> {{ book.genres }} </p>
					</div>
				   </div>
   
				   <!-- EDITORIAL -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Editorial:</label>
					<div class="col-md-6">
					   <p class="form-control-static"> {{ book.editorial }} </p>
					</div>
				   </div>
   
				   <!-- IDIOMA -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Idioma:</label>
					<div class="col-md-6">
					   <p class="form-control-static"> {{ book.language }} </p>
					</div>
				   </div>
				</div>
   
				<div class="col-md-6">
				   <!-- ORIGINAL -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Original:</label>
					<div class="col-md-6">
					   <p class="form-control-static"> {{ book.original }} </p>
					</div>
				   </div>
   
				   <!-- NÚMERO DE PÁGINAS -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Número de páginas:</label>
					<div class="col-md-6">
					   <p class="form-control-static"> {{ book.num_page }} </p>
					</div>
				   </div>
   
				   <!-- COMENTARIOS -->
				   <div class="form-group row">
					<label class="control-label text-left col-md-6">Comentario:</label>
					<div class="col-md-6">
					   <p class="form-control-static"> {{ book.comment }} </p>
					</div>
				   </div>
				</div>
			   </div>
			</div>
			<!-- <div class="form-actions">
			   <div class="row justify-content-md-center">
				<div class="col-md-4 text-center">
				   <button class="btn btn-danger model_img img-responsive" 
					   data-toggle="modal" 
					   data-target=".bs-example-modal-lg" 
					   type="button" 
					   (click)="modal()">
					   <i class="fa fa-pencil"></i> Editar</button>
				</div>
				<div class="col-md-6"> </div>
			   </div>
			</div> -->
		   </form>
		</div>
	   </div>
	</div>
	<!-- Row -->
   </div>
   
   
   
   
   
   <!-- <a href="#openModal">Lanzar el modal</a> -->
   
   <div id="openModal" class="modal fade bs-example-modal-lg">
	<div class="modal-dialog modal-lg">
	   <div class="modal-content">
		<div class="modal-header">
		   <h4 class="modal-title" id="myLargeModalLabel"> {{book.title}} </h4>
			<button _ngcontent-c0="" aria-label="Close" class="close" data-dismiss="modal" type="button">
				<span _ngcontent-c0="" aria-hidden="true">×</span>
			   </button>
		</div>
		<div class="modal-body">
		
   
		   <form class="form-material m-t-40" [formGroup]="editForm" (ngSubmit)="jj()">
			<div class="row">
			   <!-- Inicio col 1 -->
			   <div class="col-6">
				<div class="form-group">
				   <label>Título del texto</label>
				   <input 	type="text" 
					   FormControlName="title" 
					   id="title"
					   class="form-control form-control-line border-input-custom" 
					   placeholder="Ej.: Harry Potter">
				</div>
   
   
				<div class="row justify-content-md-center">
				   <div class="form-group">
					<button type="submit" 
						class="btn btn-outline-info">
					   Editar
					</button>
				   </div>
				</div>
   
			   </div>
			</div>
		   </form>
   
		</div>
		<div class="modal-footer">
		   <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
		</div>
	   </div>
	   <!-- /.modal-content -->
	</div>
   </div>