/* You can add global styles to this file, and also import other style files */

/* Líneas del formulario de libro */

.border-input-custom {
   border-bottom: 1px solid #67757c !important;
}

.border-input-custom:focus {
   border-bottom: 1px solid #398bf7 !important;
}

/*
.fa-google-plus:before {
  content: url(assets/images/icon/google.png)!important;
  width: 10px;
  height: 10px;
  
}
*/

/* #17a2b8  */
/*#button-celeste {
   background: #459FAE !important;
}*/

.modal-lg {
    max-width: 70% !important;
    min-width: 500px !important;
}

.modal-body {
    min-width: 500px !important;
}

.sidebar-nav ul li a {
    padding: 0 !important;
    font-size: 12px !important;
}


.img-carousel {
    width: 100%;
    height: 100%;
    max-height: 340px;
}

/* ESTILO DE CAJA DE LOADER QUE QUEDA AL CENTRO */
.loader-contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    width: 80vw;
    height: 300%;
}

.container-fluid{
    margin-left: 1% !important;
}


/* REGISTER */
.login-register{
    padding: 5% 0 !important;
}
.login-box{
    width: 580px !important;
}
.ms-container {
    width: 600px;
}
.ms-container .ms-list{
    height: 330px;
}



/* ADMIN */
/* @media (max-width: 1023px){
    .page-wrapper {
        margin-left: 25px;
    }
}

@media (min-width: 768px){
    .mini-sidebar .page-wrapper {
        margin-left: 0 !important;
    }
} */