<section id="wrapper">
	<div class="login-register" style="background-image:url(../../assets/images/background/book-2.jpg);">
		<div class="login-box card">
			<div class="card-body" >
				<form class="form-horizontal form-material" 
						[formGroup]="formulario" 
						(ngSubmit)="saveUser()" 
						novalidate="novalidate" 
						action="index.html">

					<div [ngSwitch]="register_pages">
						<!-- ================================================================================== -->
						<!-- PAGE 1																				-->
						<!-- ================================================================================== -->
						<div *ngSwitchCase="'page_1'">
							<h3 class="box-title m-t-40 m-b-0">Datos de perfil</h3>
							<small>Crea tu cuenta para ingresar</small>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input  formControlName="name" 
											class="form-control" 
											type="text" 
											placeholder="Nombre">
								</div>
							</div>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input  formControlName="last_name1" 
											class="form-control" 
											type="text" 
											placeholder="Apellido paterno">
								</div>
							</div>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input  formControlName="last_name2" 
											class="form-control" 
											type="text" 
											placeholder="Apellido materno">
								</div>
							</div>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input  formControlName="rut" 
											class="form-control" 
											type="text" 
											placeholder="RUT">
								</div>
							</div>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input  formControlName="phone" 
											class="form-control" 
											type="text" 
											placeholder="Teléfono opcional">
								</div>
							</div>

							<div class="form-group text-center m-t-20">
								<div class="col-xs-12">
									<button (click)="register_pages='page_2'" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Continuar
									<script type="text/javascript">
										swal("Good job!", "You clicked the button!", "success");
									</script>
									</button>
								</div>
							</div>

							<div class="form-group m-b-0">
								<div class="col-sm-12 text-center">
									<p>Ya tienes una cuenta?
										<a [routerLink]="['/login']" class="text-info m-l-5">
											<b>Ingresar</b>
										</a>
									</p>
								</div>
							</div>
						</div>

						<!-- ================================================================================== -->
						<!-- PAGE 2																				-->
						<!-- ================================================================================== -->
						<div *ngSwitchCase="'page_2'">Datos de preferencias
							
							<div class="form-group border-input-custom" 
								 name="original">
								<label>Comuna de preferencia</label>
								<select class="form-control" 
										formControlName="commune">
									<option value="Santiago centro">Santiago centro</option>
									<option value="Providencia">Providencia</option>
									<option value="Recoleta">Recoleta</option>
									<option value="Estación central">Estación central</option>
									<option value="San Miguel">San Miguel</option>
									<option value="Ñuñoa">Ñuñoa</option>
								</select>
							</div>

							<div class="form-group border-input-custom" 
								 name="original">
								<label>Géneros de interés</label>
								<select class="form-control" 
										formControlName="favs_genres"
										multiple>
									<option value="Aventura">Aventura</option>
									<option value="Biográfica">Biográfica</option>
									<option value="Ciencia Ficción">Ciencia Ficción</option>
									<option value="Deportes">Deportes</option>
									<option value="Economía / Marketing">Economía / Marketing</option>
									<option value="Enciclopedia / Manual">Enciclopedia / Manual</option>
									<option value="Erótica">Erótica</option>
									<option value="Ficción / Realidad">Ficción / Realidad</option>
									<option value="Hogar">Hogar</option>
									<option value="Infantil">Infantil</option>
									<option value="Investigación">Investigación</option>
									<option value="Lectura especializada">Lectura especializada</option>
									<option value="Policial/ Thriller">Policial/ Thriller</option>
									<option value="Política">Política</option>
									<option value="Romántica">Romántica</option>
									<option value="Sociedad">Sociedad</option>
									<option value="Terror">Terror</option>
									<option value="Viajes">Viajes / Cultura</option>
									<option value="Otros géneros">Otros géneros</option>
								</select>
							</div>

							<div class="form-group text-center m-t-20">
								<div class="col-xs-12">
									<button (click)="register_pages='page_3'" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Continuar</button>
								</div>
							</div>
						</div>

						<!-- ================================================================================== -->
						<!-- PAGE 3																				-->
						<!-- ================================================================================== -->
						<div *ngSwitchCase="'page_3'">Datos de la cuenta

							<div class="form-group ">
								<div class="col-xs-12">
									<input  formControlName="email" 
											class="form-control" 
											type="text" 
											placeholder="Correo electrónico">
								</div>
							</div>

							<div class="form-group ">
								<div class="col-xs-12">
									<input  formControlName="password" 
											class="form-control" 
											type="password" 
											placeholder="Contraseña">
								</div>
							</div>

							<div class="form-group">
							  	<div class="col-xs-12">
									<input 	formControlName="password2"
										   	class="form-control" 
										   	type="password" 
										   	placeholder="Confirme su contraseña">
							  	</div>
							</div>

							<div class="form-group" *ngIf="formulario['errors']?.areEquals && !formulario.pristine">
								<p class="text-danger">	Las contraseñas deben ser iguales </p>
							</div>

							<div class="form-group row">
					          	<div class="col-md-12">
						            <div class="checkbox checkbox-primary p-t-0">
						              	<input 	formControlName="conditions" 
						                     	id="checkbox-signup" 
						                     	type="checkbox">
						              	<label for="checkbox-signup"> Acepto los
						                	<a href="#">Términos y condiciones</a>
						              	</label>
						            </div>
					          	</div>
					        </div>

							<div class="form-group text-center m-t-20">
								<div class="col-xs-12">
									<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrarme</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
