<section id="wrapper">
	<div class="login-register" [ngStyle]="{'background-image':getBackground(register_pages)}" >
		<div class="login-box card">
			<div class="card-body" >
				<form class="form-horizontal form-material" novalidate="novalidate" action="index.html"
						[formGroup]="form" (ngSubmit)="saveUser()" >

					<div [ngSwitch]="register_pages">
						<!-- ================================================================== -->
						<!-- PAGE 1													                      							-->
						<!-- ================================================================== -->
						<div *ngSwitchCase="'page_1'">
							<h3 class="box-title m-t-40 m-b-0">Datos de perfil</h3>
							<small>Crea tu cuenta para ingresar</small>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input formControlName="name" class="form-control" type="text" placeholder="Nombre">
								</div>
								<div *ngIf="form.controls['name'].errors?.required"><p class="text-danger">El nombre es requerido</p></div>
								<div *ngIf="form.controls['name'].errors?.pattern"><p class="text-danger">El nombre ingresado no es válido</p></div>
							</div>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input formControlName="last_name1" class="form-control" type="text" placeholder="Apellido paterno">
								</div>
								<div *ngIf="form.controls['last_name1'].errors?.required"><p class="text-danger">El apellido es requerido</p></div>
								<div *ngIf="form.controls['last_name1'].errors?.pattern"><p class="text-danger">El apellido ingresado no es válido</p></div>
							</div>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input formControlName="last_name2" class="form-control" type="text" placeholder="Apellido materno">
								</div>
								<div *ngIf="form.controls['last_name1'].errors?.required"><p class="text-danger">El apellido es requerido</p></div>
								<div *ngIf="form.controls['last_name1'].errors?.pattern"><p class="text-danger">El apellido ingresado no es válido</p></div>
							</div>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input formControlName="rut" class="form-control"	type="text" placeholder="RUT">
								</div>
								<div *ngIf="form.controls['rut'].errors?.required"><p class="text-danger">El RUT es requerido</p></div>
								<div *ngIf="form.controls['rut'].errors?.pattern"><p class="text-danger">El RUT ingresado no es válido</p></div>
							</div>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input formControlName="phone" class="form-control" type="text" placeholder="Teléfono opcional">
								</div>
								<div *ngIf="form.controls['phone'].errors?.required"><p class="text-danger">El teléfono es requerido</p></div>
								<div *ngIf="form.controls['phone'].errors?.pattern"><p class="text-danger">El teléfono ingresado no es válido</p></div>
							</div>

							<div class="form-group text-center m-t-20">
								<div class="col-xs-12">
									<button (click)="register_pages='page_2'" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Continuar
									</button>
								</div>
							</div>

							<div class="form-group m-b-0">
								<div class="col-sm-12 text-center">
									<p>Ya tienes una cuenta?
										<a [routerLink]="['/login']" class="text-info m-l-5">
											<b>Ingresar</b>
										</a>
									</p>
								</div>
							</div>
						</div>

						<!-- ================================================================================== -->
						<!-- PAGE 2													                                      							-->
						<!-- ================================================================================== -->
						<div *ngSwitchCase="'page_2'">

							<h3 class="box-title m-t-40 m-b-0">Categorías de interés</h3>
							<div class="ms-container" id="ms-pre-selected-options">
								<div class="ms-selectable">
									<select class="ms-list contenedor" multiple='multiple' formControlName="categories">
										<option [value]='c' class="ms-elem-selectable" 
											*ngFor="let c of categories; let i = index;"
											(click)="addCategory(i)"> {{ c }} </option>
									</select>
								</div>
								<div class="ms-selection">
									<select class="ms-list contenedor" multiple='multiple' formControlName="categories">
										<option [value]='sc' class="ms-elem-selection" 
											*ngFor="let sc of selected_categories; let i = index;"
											(click)="removeCategory(i)"> {{ sc }} </option>
									</select>
								</div>								
							</div>

							<div class="form-group text-center m-t-20">
								<div class="col-xs-12">
									<button (click)="register_pages='page_3'" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Continuar</button>
								</div>
							</div>
						</div>

						<!-- ================================================================================== -->
						<!-- PAGE 3																																							-->
						<!-- ================================================================================== -->
						<div *ngSwitchCase="'page_3'">

							<h3 class="box-title m-t-40 m-b-0">Datos de la cuenta</h3>
							<div class="form-group">
								<div class="col-xs-12">
									<input formControlName="email" class="form-control" type="text" placeholder="Correo electrónico">
								</div>
								<div *ngIf="form.controls['email'].errors?.required"><p class="text-danger">El email es requerido</p></div>
								<div *ngIf="form.controls['email'].errors?.email"><p class="text-danger">El email ingresado no es válido</p></div>
							</div>

							<div class="form-group ">
								<div class="col-xs-12">
									<input formControlName="password" class="form-control" type="password" placeholder="Contraseña">
								</div>
							</div>

							<div class="form-group">
									<div class="col-xs-12">
									<input formControlName="password2" class="form-control" type="password" placeholder="Confirme su contraseña">
									</div>
							</div>

							<div class="form-group" *ngIf="form['errors']?.areEquals && !form.pristine">
								<p class="text-danger">	Las contraseñas deben ser iguales </p>
							</div>

							<div class="form-group row">
							 	<div class="col-md-12">
									<div class="checkbox checkbox-primary p-t-0">
									 	<input 	formControlName="conditions" id="checkbox-signup" type="checkbox">
										<label for="checkbox-signup"> Acepto los
											<a href="#">Términos y condiciones</a>
										</label>
									</div>
								</div>
							</div>

							<div class="form-group text-center m-t-20">
								<div class="col-xs-12">
									<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrarme</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>