<section id="wrapper">
	<div class="login-register" [ngStyle]="{'background-image':getBackground(register_pages)}" >
		<div class="login-box card">
			<div class="card-body" >
				<form class="form-horizontal form-material" novalidate="novalidate" action="index.html"
						[formGroup]="form" (ngSubmit)="saveUser()">

					<div [ngSwitch]="register_pages">
						<!-- ================================================================== -->
						<!-- PAGE 1													                      							-->
						<!-- ================================================================== -->
						<div *ngSwitchCase="'page_1'">
							<h3 class="box-title m-t-40 m-b-0">Datos de perfil</h3>
							<small>Crea tu cuenta para ingresar</small>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input formControlName="name" class="form-control" type="text" placeholder="Nombre">
								</div>
								<div *ngIf="form.controls['name'].errors?.required && submit"><p class="text-danger">El nombre es requerido</p></div>
								<div *ngIf="form.controls['name'].errors?.pattern  && submit"><p class="text-danger">El nombre ingresado no es válido</p></div>
							</div>

							<div class="form-group m-t-10 row">
									<div class="col-md-6">
										<input formControlName="last_name1" class="form-control" type="text" placeholder="Apellido paterno">
										<div *ngIf="form.controls['last_name1'].errors?.required && submit"><p class="text-danger">El apellido es requerido</p></div>
										<div *ngIf="form.controls['last_name1'].errors?.pattern  && submit"><p class="text-danger">El apellido ingresado no es válido</p></div>
									</div>
									<div class="col-md-6">
										<input formControlName="last_name2" class="form-control" type="text" placeholder="Apellido materno">
										<div *ngIf="form.controls['last_name1'].errors?.required && submit"><p class="text-danger">El apellido es requerido</p></div>
										<div *ngIf="form.controls['last_name1'].errors?.pattern && submit"><p class="text-danger">El apellido ingresado no es válido</p></div>
									</div>
								</div>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input formControlName="rut" class="form-control"	type="text" placeholder="RUT">
								</div>
								<div *ngIf="form.controls['rut'].errors?.required && submit"><p class="text-danger">El RUT es requerido</p></div>
								<div *ngIf="form.controls['rut'].errors?.pattern && submit"><p class="text-danger">El RUT ingresado no es válido</p></div>
							</div>

							<div class="form-group m-t-20">
								<div class="col-xs-12">
									<input formControlName="phone" class="form-control" type="text" placeholder="Teléfono opcional">
								</div>
								<div *ngIf="form.controls['phone'].errors?.pattern && submit"><p class="text-danger">El teléfono ingresado no es válido</p></div>
							</div>

							<div class="form-group text-center m-t-20">
								<div class="col-xs-12">
									<button (click)="register_pages='page_2'"
													class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
													[disabled]="!form.controls['name'].valid ||
																			!form.controls['last_name1'].valid ||
																			!form.controls['last_name2'].valid ||
																			!form.controls['rut'].valid">
										Continuar
									</button>
								</div>
							</div>

							<div class="form-group m-b-0">
								<div class="col-sm-12 ">
									<button class="btn btn-circle btn-info" style="margin-right: 80px;" [routerLink]="['/login']">
										<i class="fa fa-arrow-left"></i>
									</button>
									<p class="text-center" style="display: contents;">Ya tienes una cuenta?
										<a [routerLink]="['/login']" class="text-info m-l-5">
											<b>Ingresar</b>
										</a>
									</p>
								</div>
							</div>
						</div>

						<!-- ================================================================================== -->
						<!-- PAGE 2													                                      							-->
						<!-- ================================================================================== -->
						<div *ngSwitchCase="'page_2'">

							<h3 class="box-title m-t-40 m-b-0">Categorías de interés <span>(Min. 3)</span></h3>
							<div class="ms-container" id="ms-pre-selected-options">
								<div class="ms-selectable">
									<select class="ms-list contenedor" multiple='multiple' formControlName="categories">
										<option [value]='c' class="ms-elem-selectable" 
											*ngFor="let c of categories; let i = index;"
											(click)="addCategory(i)"> {{ c.name }} </option>
									</select>
								</div>
								<div class="ms-selection">
									<select class="ms-list contenedor" multiple='multiple' formControlName="categories">
										<option [value]='sc' class="ms-elem-selection" 
											*ngFor="let sc of selected_categories; let i = index;"
											(click)="removeCategory(i)"> {{ sc.name }} </option>
									</select>
								</div>								
							</div>

							<div class="form-group text-center m-t-20">
								<div class="col-xs-12">
									<button (click)="register_pages='page_3'" 
													class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
													[disabled]="selected_categories.length < 3">
										Continuar
									</button>
								</div>
							</div>

							<div class="form-group m-b-0">
								<div class="col-sm-12 ">
									<button class="btn btn-circle btn-info" style="margin-right: 80px;" (click)="register_pages='page_1'">
										<i class="fa fa-arrow-left"></i>
									</button>
									<p class="text-center" style="display: contents;">Ya tienes una cuenta?
										<a [routerLink]="['/login']" class="text-info m-l-5">
											<b>Ingresar</b>
										</a>
									</p>
								</div>
							</div>
						</div>

						<!-- ================================================================================== -->
						<!-- PAGE 3																																							-->
						<!-- ================================================================================== -->
						<div *ngSwitchCase="'page_3'">

							<h3 class="box-title m-t-40 m-b-0">Datos de la cuenta</h3>
							<div class="form-group">
								<div class="col-xs-12">
									<input formControlName="email" class="form-control" type="text" placeholder="Correo electrónico">
								</div>
								<div *ngIf="form.controls['email'].errors?.required && submit"><p class="text-danger">El email es requerido</p></div>
								<div *ngIf="form.controls['email'].errors?.email && submit"><p class="text-danger">El email ingresado no es válido</p></div>
							</div>

							<div class="form-group ">
								<div class="col-xs-12">
									<input formControlName="password" class="form-control" type="password" placeholder="Contraseña">
								</div>
							</div>

							<div class="form-group">
									<div class="col-xs-12">
									<input formControlName="password2" class="form-control" type="password" placeholder="Confirme su contraseña">
									</div>
							</div>

							<div class="form-group" *ngIf="form['errors']?.areEquals && !form.pristine && submit">
								<p class="text-danger">	Las contraseñas deben ser iguales </p>
							</div>

							<div class="form-group row">
							 	<div class="col-md-12">
									<div class="checkbox checkbox-primary p-t-0">
									 	<input 	formControlName="conditions" id="checkbox-signup" type="checkbox">
										<label for="checkbox-signup"> Acepto los
											<!-- TODO: Revisar -->
											<a data-toggle="modal" data-target="#conditionsOfUse">Términos y Condiciones de Uso</a>
										</label>
									</div>
								</div>
							</div>

							<div class="form-group text-center m-t-20">
								<div class="col-xs-12">
									<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" 
													type="submit"
													[disabled]="!form.controls['email'].valid || !form.controls['password'].valid || !form.controls['password2'].valid">
										Registrarme
								</button>
								</div>
							</div>

							<div class="form-group m-b-0">
								<div class="col-sm-12 ">
									<button class="btn btn-circle btn-info" style="margin-right: 80px;" (click)="register_pages='page_2'">
										<i class="fa fa-arrow-left"></i>
									</button>
									<p class="text-center" style="display: contents;">Ya tienes una cuenta?
										<a [routerLink]="['/login']" class="text-info m-l-5">
											<b>Ingresar</b>
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- ================================================================================================== -->
<!-- Modal Terms and Use Conditions																																			-->
<!-- ================================================================================================== -->
<div id="conditionsOfUse" class="modal fade bs-example-modal-lg">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel"> Términos y Condiciones de uso </h4>
				<button _ngcontent-c0="" aria-label="Close" class="close" data-dismiss="modal" type="button">
					<span _ngcontent-c0="" aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<p>&nbsp;</p>
				<p><strong>INFORMACIÓN RELEVANTE</strong></p>
				<p>
					Es requisito necesario para la utilización de los servicios que presta este aplicativo web, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la recepción de notificaciones implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento.
				</p>
				<p>
					El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que lo desee. BOOKscalo.com no asume la responsabilidad en caso de que entregue dicha clave a terceros.
				</p>
				<p>
					Todos los acuerdos que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación por parte de los involucrados. En algunos casos puede que se requiera una verificación por medio de correo electrónico.
				</p>
				<p>
					Los precios de los libros y textos ofrecidos en este aplicativo web son de exclusiva responsabilidad del usuario que los publica, los cuales pueden modificarlos a su antojo.
				</p>
				<p>
					En ningún caso esta compañía será &nbsp;responsable de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales,fortuitos o consecuentes u otras pérdidas resultantes de las reuniones que se realicen entre usuarios con el objetivo de concretar las transacciones de libros o textos publicitados en el sitio web.
				</p>
				<p>
					El sitio web no está destinado al pago, transacciones monetarias, ni al envío de libros o textos a los usuarios finales. Toda transacción es exclusiva responsabilidad de los usuarios que realicen el establecimiento de transacción.
				</p>
				<p><strong>LICENCIA</strong></p>
				<p>
					BOOKscalo&nbsp; a través de su sitio web concede una licencia para que los usuarios publiquen&nbsp; los libros y textos que desean ofertar en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.
				</p>
				<p><strong>USO NO AUTORIZADO</strong></p>
				<p>______________________</p>
				<p><strong>PROPIEDAD</strong></p>
				<p>
					Usted no puede declarar propiedad intelectual o exclusiva a ninguno de los libros o textos publicados, modificado o sin modificar. Todos los libros o textos son propiedad &nbsp;de los proveedores del contenido. En caso de que no se especifique lo contrario, los libros o textos se proporcionan&nbsp; sin ningún tipo de garantía, expresa o implícita.
				</p>
				<p><strong>COMPROBACIÓN ANTIFRAUDE</strong></p>
				<p>
					La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.
				</p>
				<p><strong>PRIVACIDAD</strong></p>
				<p>
					Este <a href="www.bookscalo.com" target="_blank">sitio web</a> BOOKscalo.com garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.
				</p>
				<p>
					La suscripción a boletines de correos electrónicos publicitarios es voluntaria y la suscripción a notificaciones también, las cuales podrá encontrar una vez ingrese al sitio web mediante sus credenciales, seleccionando la campana ubicada en la esquina inferior derecha.
				</p>
				<p>
					BOOKscalo reserva los derechos de cambiar o de modificar estos términos sin previo aviso, aunque para su seguridad, los cambios serán notificados mediante notificaciones del administrador.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- ================================================================================================== -->
<!-- End modal Terms and Use Conditions																																	-->
<!-- ================================================================================================== -->

