.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 160%;
  width: 100%;
  padding: 10% 0;
  position: absolute; }

.login-box {
  width: 100%;
  max-width: 580px; 
  margin: 0 auto; }
  .login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; }
  .login-box .social {
    display: block;
    margin-bottom: 30px; }

#recoverform {
  display: none; }

.login-sidebar {
  padding: 0px;
  margin-top: 0px; }
  .login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%; }

.contenedor {
  max-width: 220px !important;
  min-width: 220px !important;
}

.ms-container {
  width: 100%;
}
